body{
    background: #222;
    color: #eee;
}

.jumbotron{
    color: #222
}
.btn-group{
    width: 165px;
    text-align: right;
}

.missed{
    background-color:  rgb(221, 156, 156) !important;
}
.question{
   /*stuff goes here*/ 
}

.question_number{
    width: 25px;
}

#survey_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#submit{
    width: 165px;
}

#new_best_friend{
    color: #222;
}